* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(110, 160, 95);
  box-shadow: inset;
  min-height: 100dvh;
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

main {
  padding: 2em;
}

form {
  background-color: rgb(177, 201, 180);
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  width: clamp(400px, 30vw, 40vw);
  border: 2px solid;
  border-radius: 4px;
  box-shadow: 4px 4px black;
  fieldset {
    padding: 1em;
    border-radius: 4px;
    background-color: rgba(131, 177, 137, 0.464);
  }

  legend {
    margin-inline: auto;
    font-weight: 500;
    color: rgb(13, 70, 32);
    padding-inline: 1em;
    font-size: 1.2em;
  }
  label {
    padding: 0.3em;
    color: rgb(13, 70, 32);
    display: flex;
    flex-direction: column;
    span {
      margin-inline: 0.5em;
    }
  }
  input,
  textarea {
    padding: 0.5em 0.5em 0.5em;

  }
  textarea{
    resize: vertical;
    height: 60px;

  }
  button {
    padding: .5em 1em;
    transition: 
    background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), 
    color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  button:hover {
    background-color: rgba(131, 177, 137, 0.464);
    color: white;
    box-shadow: 2px 2px black;
  }
}
